header {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #000;
  padding: 20px 0;
}

nav {
  display: inline-block;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
}

nav a:hover {
  color: #007bff;
}
h1 {
  text-align: center;
  padding: 2px;
  border-bottom: solid#000;
}
